* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-size: 50px;
}

p,
a,
li,
button {
    margin: 0;
    font-size: 30px;
}

button {
    border: none;
    background: none;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
}

input {
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

header a {
    cursor: pointer;
    color: rgb(14, 133, 173);
}

main {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#start-screen {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-screen h2 {
    text-align: center;
    margin-bottom: 10px;
}

#start-screen p {
    text-align: center;
    margin-bottom: 10px;
}

#question-body {
    margin-left: 150px;
    margin-right: 150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#question-body h2 {
    text-align: left;
}

#question-body ul {
    margin-top: 30px;
    padding: 0%;
    list-style-type: none;
}

#question-body button {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

#quiz-finish {
    display: none;
    flex-direction: column;
}

#quiz-finish h2 {
    margin-bottom: 10px;
}

#quiz-finish p {
    margin-top: 5px;
}

#initial-input {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

#initial-input input {
    margin-left: 8px;
    margin-right: 8px;
}

#initial-input button {
    font-size: 20px;
}

#high-scores {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#high-scores ul {
    padding: 0%;
    list-style-type: none;
    width: 100%;
}

#high-scores li {
    padding: 5px;
    background-color: #add8de;
}